<nz-table #basicTable [nzData]="actions" [nzLoading]="dataLoading">
    <thead>
        <tr>
            <th>Jméno </th>
            <th>Datum konání </th>
            <th>Datum odzápisu </th>
            <th>Zápis od do </th>
            <th>Místo</th>
            <th>Viditelná</th>
            <th>Externí uživatelé</th>
            <th>Stag studenti </th>
            <th>Přihlášeno</th>
            <th>Fronta</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="onRowClick(data)">
            <td>{{ data.name }}</td>
            <td>{{ data.startDate | date: 'd.M.yyyy HH:mm' }} - {{ data.endDate | date: 'd.M.yyyy HH:mm'}}</td>
            <td>{{ data.attendanceSignOffEndDate | date: 'd.M.yyyy HH:mm' }}</td>
            <td>
                <span *ngIf="data.attendanceAllowStartDate">{{ data.attendanceAllowStartDate | date: 'd.M.yyyy HH:mm'
                    }}</span>
                <span *ngIf="!data.attendanceAllowStartDate">neomezeno</span>
                <span> - </span>
                <span *ngIf="data.attendanceAllowEndDate">{{ data.attendanceAllowEndDate | date: 'd.M.yyyy HH:mm'
                    }}</span>
                <span *ngIf="!data.attendanceAllowEndDate">neomezeno</span>
            </td>
            <td>{{ data.location }}</td>
            <td> <i class="fa" [class.fa-check]="data.visible" [class.fa-times]="!data.visible"
                    [class.active-icon]="data.visible" [class.fade-out-icon]="!data.visible">
                </i>
            </td>
            <td>
                <!-- <td><i class="fa @((item.vkCourse.hasEvaluation ? "fa-check" : "fa-times"))" style="@(item.vkCourse.hasEvaluation? "color:#28a745;" : "color:#bcbcbc;")"></i></td> -->
                <i class="fa" [class.fa-check]="data.blockActionRestriction.allowExternalUsers"
                    [class.fa-times]="!data.blockActionRestriction.allowExternalUsers"
                    [class.active-icon]="data.blockActionRestriction.allowExternalUsers"
                    [class.fade-out-icon]="!data.blockActionRestriction.allowExternalUsers">

                </i>
            </td>
            <td>
                <i class="fa" [class.fa-check]="data.blockActionRestriction.allowOnlyStudentsOnWhiteList"
                    [class.fa-times]="!data.blockActionRestriction.allowOnlyStudentsOnWhiteList"
                    [class.active-icon]="data.blockActionRestriction.allowOnlyStudentsOnWhiteList"
                    [class.fade-out-icon]="!data.blockActionRestriction.allowOnlyStudentsOnWhiteList">
                </i>

            </td>
            <td>
                <!-- nz-tooltip
                nzTooltipTitle="Akce v bloku vidí pouze tito studenti, pokud tedy akce není veřejná. Kliknutím zobrazíte seznam studentů." -->
                <span>
                    <app-icon-text [clickAble]="false" [faIcon]="'fas fa-users'"
                        [text]="data.signedUsersCount + '/' + data.blockActionRestriction.maxCapacity">
                    </app-icon-text>
                </span>
            </td>
            <td>
                <span>
                    <app-icon-text [clickAble]="false" [faIcon]="'fas fa-users'" [text]="data.usersInQueueCount">
                    </app-icon-text>
                </span>
            </td>

        </tr>
    </tbody>
</nz-table>