<nz-table #basicTable [nzData]="actions" [nzLoading]="dataLoading">
    <thead>
        <tr>
            <th>Jméno </th>
            <th>Datum konání </th>
            <th>Datum odzápisu </th>
            <th>Zápis povolen od </th>
            <th>Zápis povolen do</th>
            <th>Místo</th>
            <th>Viditelná</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="onRowClick(data)">
            <td>{{ data.name }}</td>
            <td>{{ data.startDate | date: 'd.M.yyyy HH:mm' }} - {{ data.endDate | date: 'd.M.yyyy HH:mm'}}</td>
            <td>{{ data.attendanceSignOffEndDate | date: 'd.M.yyyy HH:mm' }}</td>
            <td>
                <span *ngIf="data.attendanceAllowStartDate">{{ data.attendanceAllowStartDate | date: 'd.M.yyyy HH:mm' }}</span>
                <span *ngIf="!data.attendanceAllowStartDate">Neomezeno</span>
            </td>
            <td>
                <span *ngIf="data.attendanceAllowEndDate">{{ data.attendanceAllowEndDate | date: 'd.M.yyyy HH:mm' }}</span>
                <span *ngIf="!data.attendanceAllowEndDate">Neomezeno</span>
            </td>
            <td>{{ data.location }}</td>
            <td> <i class="fa" [class.fa-check]="data.visible" [class.fa-times]="!data.visible"
                    [class.active-icon]="data.visible" [class.fade-out-icon]="!data.visible">
                </i>
            </td>
        </tr>
    </tbody>
</nz-table>