<div class="form-wrapper">
    <div class="login-form">
        <h3>Přihlášení</h3>

        <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">

            <nz-form-item>
                <nz-form-control nzErrorTip="Prosím zadejte jméno">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="email" placeholder="email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Prosím zadejte heslo">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="heslo" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div *ngIf="loginFailed" class="error">
                {{errorMsg}}
            </div>
            <div nz-row class="login-form-margin">
                <div nz-col [nzSpan]="12">
                    <a class="login-form-register" routerLink="/registration">Registrovat se</a>
                </div>
                <div nz-col [nzSpan]="12">
                    <a class="login-form-forgot" (click)="onForgetPasswordClick()">Zapomenuté heslo </a>
                </div>
            </div>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                [nzLoading]="processingForm">Přihlásit se</button>
            <a nz-button class="login-form-button login-form-margin btn-stag" [nzType]="'primary'"
                (click)="onStagLoginClick()">STAG přihlášení</a>
        </form>


    </div>

</div>

<nz-modal [(nzVisible)]="forgetPasswordModalVisible" nzTitle="Obnovení hesla" nzOkText="Odeslat"
    [nzOkLoading]="forgetPasswordModalOkLoading" nzCancelText="Zavřít" (nzOnCancel)="forgetPasswordHandleCancel()"
    (nzOnOk)="forgetPasswordHandleOk()">
    <ng-container *nzModalContent>
        <input nz-input placeholder="emailová adresa" [(ngModel)]="forgetPasswordEmail" />
    </ng-container>
</nz-modal>


<div>
    <div><span>Heslo:</span> <span> demo</span></div>

    <strong>
        <div><span>Student:</span> <span> P19B8594P (FPE/-), P19B8082P</span></div>
        <div><span>UCITEL:</span> <span> FRANKJAN (KMT/-)</span></div>

    </strong>

    <div><span>Dekan:</span> <span> DEKAN#_FAV / radova (FAV/FAV) DEKAN#_FEL / pero (FEL/FEL) DEKAN#_FPR / sbalik
            (FPR/FPR) </span></div>
    <div><span>Ucitel:</span> <span> JIRKAZAK1 / jirkazak (FF/KAP) KOSAN (FEL/RICE) KROUPA (FAV/KME) LSULOVA (FPE/KPS)
            MARTINEL (FZS/DFZ) MUCHLOVA (FZS/KOS) OVODR (FST/KTS) PLANICKAF / planicka (FAV/KME) ZPETRANK
            (FEL/KEI)</span></div>

    <div><span>Student:</span> <span> A17P5870P (FAV/-)</span></div>
    <div><span>Student:</span> <span> D17N5817P (FDU/-)</span></div>
    <div><span>Student:</span> <span> E12P5823P (FEL/-)</span></div>
    <img src="assets/images/stag/accounts.png" alt="">
</div>