<div class="form-wrapper">
    <div class="login-form">
        <h3>Přihlášení</h3>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userName" placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div nz-row class="login-form-margin">
                <div nz-col [nzSpan]="12">
                    <a class="login-form-register">Register now</a>
                </div>
                <div nz-col [nzSpan]="12">
                    <a class="login-form-forgot">Forgot password </a>
                </div>
            </div>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Přihlásit se</button>
            <a nz-button class="login-form-button login-form-margin login-stag-btn" [nzType]="'primary'"
                (click)="onStagLoginClick()">STAG přihlášení</a>
            <a nz-button class="login-form-button login-form-margin login-stag-btn" [nzType]="'primary'"
                (click)="getUser()">GET CURRENT USER</a>


            <div class="text-center">
                <a [routerLink]="['']">MAIN</a>
            </div>
        </form>

        <div>
            <div><span>Heslo:</span> <span> demo</span></div>
            <div><span>Ucitel:</span> <span> DBLAH (FF/KFI)</span></div>
            <div><span>Ucitel:</span> <span> PLUHYM (FPE/CBG)</span></div>
            <div><span>Ucitel:</span> <span> MANDYSKA (FPE/KHK)</span></div>
            <div><span>Student:</span> <span> K20B6800PI (FEK/-)</span></div>
            <div><span>Student:</span> <span> K20B6801PI (FEK/-)</span></div>
            <div><span>Student:</span> <span> K18N6805P (FEK/-)</span></div>
            <img src="assets/images/stag/accounts.png" alt="">
        </div>
    </div>

</div>