<!-- @fadeIn -->
<section *ngIf="subject">
    <section>
        <nz-page-header [nzGhost]="false" class="site-page-header">
            <nz-page-header-title>{{subject.fakultaKatedra}} {{subject.name}}</nz-page-header-title>
            <nz-page-header-subtitle></nz-page-header-subtitle>
            <nz-page-header-extra>
                <!-- <button nz-button nzType="primary" (click)="onNewYearClick()"><i nz-icon nzType="plus"
                        nzTheme="outline"></i>Nový rok</button> -->
            </nz-page-header-extra>
            <nz-page-header-content>
                <nz-breadcrumb>
                    <nz-breadcrumb-item><a routerLink="/admin/subjects">Předměty</a></nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a>Detail předmětu</a>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </nz-page-header-content>

        </nz-page-header>
    </section>
    <section class="subjects-wrapper text-wrapper">
        <div class="header">
            Popis
        </div>
        <div [innerHTML]="subject.description">

        </div>
    </section>

    <app-subject-in-year-table [subjectInYears]="subjectInYears" [dataLoading]="subjectInYearsDataLoading" [subjectId] = "subject.id">
    </app-subject-in-year-table>

</section>

<div class="page-loader-wrapper" *ngIf="!subject">
    <app-page-loader></app-page-loader>
</div>