<nz-table #basicTable [nzData]="subjectInYears" [nzLoading]="dataLoading">
    <thead>
        <tr>
            <th>Rok</th>
            <th>Jméno </th>
            <th>Uživatel</th>
            <th>Vytvořeno</th>
            <th>Acke</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="onRowClick(data)">
            <td>{{ data.year }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.ucitelName }}</td>
            <td>{{ data.dateIn | date: 'd.mm.yyyy' }}</td>
            <td></td>
        </tr>
    </tbody>
</nz-table>