<section>
    <section>
        <nz-page-header [nzGhost]="false" class="site-page-header">
            <nz-page-header-title>Předměty</nz-page-header-title>
            <nz-page-header-subtitle></nz-page-header-subtitle>
            <nz-page-header-extra>
                <button nz-button nzType="primary" routerLink="create"><i nz-icon nzType="plus"
                        nzTheme="outline"></i>Vytvořit nový
                    předmět</button>
            </nz-page-header-extra>
        </nz-page-header>
    </section>
    <section class="subjects-wrapper">
        <app-subject-list [subjects]="subjects"></app-subject-list>
    </section>
</section>