<nz-table #basicTable [nzData]="people">
    <thead>
        <tr>
            <th style="width: 25px;"> </th>
            <th style="width: 150px;">Číslo </th>
            <th style="width: 250px;">Jméno </th>
            <th style="width: 50px;">Ročník </th>
            <th>Fakulta</th>
            <th>Docházka </th>
            <th>Změna stavu docházky </th>
            <th>Datum vyhodnocení</th>
            <th style="width: 150px;">Akce </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>
                <ng-container *ngIf="data.isStagStudent">
                    <i class="fas fa-user-graduate"></i>
                </ng-container>
                <ng-container *ngIf="!data.isStagStudent">
                    <i class="fas fa-user"></i>
                </ng-container>
            </td>
            <td>{{ data.studentOsCislo }} </td>
            <td>{{ data.fullname }}</td>
            <td>{{ data.rocnik }}</td>
            <td>{{ data.fakultaSp }}</td>
            <td>
                <ng-container *ngIf="data.evaluationDate">
                    <span nz-tooltip
                        [nzTooltipTitle]="data.fulfilled? 'Splnil (zúčastnil se)': 'Nesplnil (nezúčastnil se)'"> <i
                            class="fa" [class.fa-check]="data.fulfilled" [class.fa-times]="!data.fulfilled"
                            [class.active-icon]="data.fulfilled" [class.fade-out-icon]="!data.fulfilled">
                        </i></span>
                </ng-container>
                <ng-container *ngIf="!data.evaluationDate">
                    čeká se na vyhodnocení..
                </ng-container>
            </td>
            <td>
                <!-- *ngIf=" data.evaluationDate" -->

                <ng-container>
                    <div class="control-btns">
                        <button nz-button nzType="default" nz-popconfirm *ngIf="!data.evaluationDate || !data.fulfilled"
                            nzPopconfirmTitle="Opravdu chcete změnit stav na SPLNIL?"
                            (nzOnConfirm)="setAttendanceFulfilled(data, true)"
                            [nzCondition]="!data.evaluationDate">Splnil</button>

                        <button nz-button nzType="default" nzDanger nz-popconfirm
                            *ngIf="!data.evaluationDate || data.fulfilled"
                            nzPopconfirmTitle="Opravdu chcete změnit stav na NESPLNIL?"
                            (nzOnConfirm)="setAttendanceFulfilled(data, false)"
                            [nzCondition]="!data.evaluationDate">Nesplnil
                        </button>
                    </div>

                </ng-container>
            </td>
            <td>
                <ng-container *ngIf=" data.evaluationDate">
                    {{ data.evaluationDate | date: 'd.M.yyyy HH:mm'}}

                </ng-container>
                <ng-container *ngIf=" !data.evaluationDate">
                    čeká se na vyhodnocení..
                </ng-container>
            </td>
            <td>
                <button nz-button nzType="default" nzDanger nz-popconfirm
                    nzPopconfirmTitle="Opravdu chcete uživatele vyhodit? Proces je nevratný."
                    (nzOnConfirm)="kickUser(data.id)">Vyhodit
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>