<div class="page-wrapper">
    <div class="wrapper text-center">
        <div class="" *ngIf="processing">
            <nz-spin nzSimple></nz-spin>
        </div>
        <ng-container *ngIf="!processing">
            <div *ngIf="confirmed" class="success">
                <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                Účet je potvrzen.
                <br>
                <a class="" routerLink="/login">Přihlásit se</a>
            </div>
            <div *ngIf="!confirmed" class="error">
                <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                Účet není potvrzen.
            </div>
        </ng-container>
    </div>

</div>