<ng-container *ngIf="block">
    <nz-page-header [nzGhost]="false" class="site-page-header">
        <nz-page-header-title>Nová akce</nz-page-header-title>
        <nz-page-header-subtitle></nz-page-header-subtitle>
        <nz-page-header-extra>
            <!-- <button nz-button nzType="secondary" class="form-back" (click)="back()">Zpět</button> -->
        </nz-page-header-extra>
        <nz-page-header-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item><a routerLink="/admin/subjects">Předměty</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/admin/subjects/detail', block.subjectId]">Detail předmětu</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/admin/subject-year', block.subjectInYearId]">Detail roku</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/admin/term/detail', block.termId]">Detail semestru</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/admin/block', block.id]">Detail bloku</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a>Formulář akce</a>
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </nz-page-header-content>
    </nz-page-header>

    <section *ngIf="form">
        <section class="content-wrapper">
            <form nz-form nzLayout="vertical" [formGroup]="form">
                <nz-form-item>
                    <nz-form-label>Jméno</nz-form-label>
                    <nz-form-control nzErrorTip="Prosím vyplňte jméno.">
                        <input nz-input formControlName="name" placeholder="zadejte jméno"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Místo konání</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="location" placeholder="zadejte místo konání" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Popis</nz-form-label>
                    <nz-form-control nzErrorTip="Maximální počet znaků je 1000">
                        <nz-textarea-count [nzMaxCharacterCount]="1000">
                            <textarea nz-input formControlName="description" placeholder="zadejte popis akce"
                                [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                        </nz-textarea-count>
                    </nz-form-control>
                </nz-form-item>



                <div formGroupName="blockActionRestriction" class="action-restriction-wrapper">

                    <nz-form-item>
                        <div class="custom-form-label">Maximální kapacita akce
                            <div style="float: right;" class="icon-hover">
                                <span nz-tooltip
                                    nzTooltipTitle="Číslo udává kolik lidí se maximálně může zapsat na akci.">
                                    <i class="fas fa-info-circle"></i>
                                </span>

                            </div>
                        </div>
                        <nz-input-number formControlName="maxCapacity" [nzMin]="0" [nzStep]="1" style="width: 100%;">
                        </nz-input-number>
                    </nz-form-item>
                    <div>
                        <h4>Nastavení přístupu na akce bloku</h4>
                        <div>
                            <label nz-checkbox formControlName="allowOnlyStudentsOnWhiteList">Povolit přístup na akce
                                pouze studentům s uděleným oprávněním (studenti přiřazeni v bloku)</label>
                        </div>
                        <div class="mt-5">
                            <label nz-checkbox formControlName="allowExternalUsers">Povolit přístup externím uživatelům
                                (uživatel mimo stag)</label>
                        </div>




                    </div>
                </div>

                <nz-form-item>
                    <nz-form-control>
                        <label nz-checkbox formControlName="visible">Viditelná akce</label>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Začátek a konec akce</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorTpl">
                        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm" formControlName="startDate"
                            [nzShowTime]="{ nzFormat: 'HH:mm' }" nzPlaceHolder="začátek akce"
                            (nzOnOpenChange)="handleStartOpenChange($event)"
                            (ngModelChange)="onStartDateChange($event)">
                        </nz-date-picker>
                        -
                        <nz-date-picker #endDatePicker nzShowTime formControlName="endDate" nzFormat="yyyy-MM-dd HH:mm"
                            [nzShowTime]="{ nzFormat: 'HH:mm' }" nzPlaceHolder="konec akce"
                            (nzOnOpenChange)="handleEndOpenChange($event)" (ngModelChange)="validateDate()">
                        </nz-date-picker>
                    </nz-form-control>

                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Datum konání akce je povinný
                        </ng-container>
                        <ng-container *ngIf="control.hasError('dateRange')">
                            Datum začátku musí být menší než datum konce
                        </ng-container>
                    </ng-template>
                    <!-- <nz-form-label>Začátek a konec akce</nz-form-label>
                    <nz-form-control nzErrorTip="Datum konání akce je povinný">
                        <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"  (nzOnOk)="onOk($event)"
                            formControlName="startEndDate"></nz-range-picker>
                    </nz-form-control> -->
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Datum od kdy je povolen zápis (nemusí být vybrán)</nz-form-label>
                    <nz-form-control nzErrorTip="Datum musí být menší než začátek akce">
                        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm" [nzShowTime]="{ nzFormat: 'HH:mm' }"
                            formControlName="attendanceAllowStartDate">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Datum do kdy je povolen zápis (nemusí být vybrán)</nz-form-label>
                    <nz-form-control nzErrorTip="Datum konání akce je povinný"
                        nzErrorTip="Datum musí být menší než začátek akce">
                        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm" [nzShowTime]="{ nzFormat: 'HH:mm' }"
                            formControlName="attendanceAllowEndDate">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Datum do kdy je možné se odepsat z akce</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorSignOff">
                        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm" [nzShowTime]="{ nzFormat: 'HH:mm' }"
                            formControlName="attendanceSignOffEndDate">
                        </nz-date-picker>
                    </nz-form-control>

                    <ng-template #errorSignOff let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Datum odzápisu akce je povinný
                        </ng-container>
                        <ng-container *ngIf="control.hasError('dateRange')">
                            Datum musí být menší než začátek akce
                        </ng-container>
                    </ng-template>
                </nz-form-item>


            </form>
        </section>

        <section class="form-control-wrapper">
            <button nz-button nzType="secondary" class="form-back" (click)="back()">Zpět</button>
            <button nz-button nzType="primary" (click)="submitForm()">
                <span *ngIf="!action.id">Vytvořit</span>
                <span *ngIf="action.id">Upravit</span>
            </button>
        </section>
    </section>

    <div class="page-loader-wrapper" *ngIf="!form" style="height: 230px;">
        <app-page-loader></app-page-loader>
    </div>
</ng-container>