<!-- @fadeIn -->
<section *ngIf="term">
    <section>
        <nz-page-header [nzGhost]="false" class="site-page-header">
            <nz-page-header-title>{{term.subjectInYearYear}} <nz-divider nzType="vertical"></nz-divider>
                {{term.subjectInYearName}} <nz-divider nzType="vertical"></nz-divider> {{term.term}}
            </nz-page-header-title>
            <nz-page-header-subtitle></nz-page-header-subtitle>
            <nz-page-header-extra>
               

            </nz-page-header-extra>
            <nz-page-header-content>
                <nz-breadcrumb>
                    <nz-breadcrumb-item><a routerLink="/admin/subjects">Předměty</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/admin/subjects/detail', term.subjectId]">Detail předmětu</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/admin/subject-year', term.subjectInYearId]">Detail roku</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a>Detail semestru</a>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </nz-page-header-content>

        </nz-page-header>
    </section>


    <section class="subjects-wrapper table-wrapper">
        <div class="action-bar">
            <div>
                <div class="search">
                    <nz-input-group nzSearch [nzPrefix]="prefixIconSearch">
                        <input type="text" nz-input placeholder="Vyhledat..." />
                    </nz-input-group>
                    <ng-template #prefixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
            </div>
            <div class="ac-btn-1">
                <button nz-button nzType="primary" [routerLink]="'/admin/term/' + term.id +'/block/create'"><i nz-icon
                        nzType="plus" nzTheme="outline"></i>Nový blok</button>
            </div>

        </div>
        <app-subject-in-year-block-table [blocks]="blocks" [dataLoading]="blocksDataLoading">
        </app-subject-in-year-block-table>
    </section>

    <section class="subjects-wrapper table-wrapper">
        <div class="action-bar">
            <div>
                <div class="search">
                    <nz-input-group nzSearch [nzPrefix]="prefixIconSearch">
                        <input type="text" nz-input placeholder="Vyhledat..." />
                    </nz-input-group>
                    <ng-template #prefixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
            </div>
            <div class="ac-btn-1">
                <button nz-button nzType="primary" [routerLink]="'/admin/term/' + term.id +'/stag-connection/create'"
                class="btn-stag"><i nz-icon nzType="link" nzTheme="outline"></i>Nové stag propojení</button>
            </div>

        </div>
        <app-term-stag-connection-table [connections]="connections" [dataLoading]="connectionsDataLoading">
        </app-term-stag-connection-table>
    </section>

    <!-- <section>
        <div class="title">
            Stag propojení

            <div style="float: right;" class="icon-hover">
                <span nz-tooltip
                    nzTooltipTitle="Stag propojení na předmět slouží k načtení rozvhorvých akcí a posléze k získání studentů, kteří jsou přiřazování do bloků.">
                    <i class="fas fa-info-circle"></i>
                </span>

            </div>
        </div>
        <div class="subjects-wrapper">
            <app-term-stag-connection-table [connections]="connections" [dataLoading]="connectionsDataLoading">
            </app-term-stag-connection-table>
        </div>
    </section> -->

</section>

<div class="page-loader-wrapper" *ngIf="!term">
    <app-page-loader></app-page-loader>
</div>

<!-- Omezit moznost zapsat se na akce ktere jsou ve stejnou dobu! a napric stejnym semestrem -->
<!-- Pridat filter ve stag propojeni na ruzna data.. -->
<!-- pridat ke studentovy v tabulce info z jake je rozvrhove akce -->