<!-- *ngIf="user" -->
<nz-layout class="app-layout" *ngIf="user">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a  routerLink="">
                <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
                <h1>Attend IT!</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Události" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="subject-events/calendar">Kalendář</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Moje události</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Plánované události</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Správa předmětů" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="admin/subjects">Předměty</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header" >
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>

                <span class="about-user" nz-dropdown [nzDropdownMenu]="userActionsDropDownMenu">
                    <span class="user-name">
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                        <span>
                            {{user.name}}
                        </span>
                    </span>
                    <span class="user-role">
                        <i nz-icon nzType="eye" nzTheme="outline"></i>
                        <span>
                            {{user.activeStagUserInfo.roleNazev}}
                        </span>
                    </span>
                </span>

                <nz-dropdown-menu #userActionsDropDownMenu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i> Odhlásit
                        </li>
                        <li nz-menu-item *ngIf="user.stagUserInfo.length > 1"><i nz-icon nzType="eye"
                                nzTheme="outline"></i> Změnit roli</li>
                        <li nz-menu-item (click)="consoleLogAboutMe()"><i nz-icon nzType="info-circle"
                                nzTheme="outline"></i> Vypsat usera do konzole</li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>