/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";

// @import '~ngx-toastr/toastr-bs4-alert';

.text-center {
    text-align: center;
}

.site-page-header {
    border: 1px solid #ebedf0;
}

.form-control-wrapper {
    text-align: right;
    margin-top: 20px;
    padding: 20px;
    background-color: white;

    .form-back {
        margin-right: 10px;
    }
}

.ml-8 {
    margin-left: 8px;
}

.content-wrapper {
    background: white;
    padding: 20px;
    margin-top: 25px;
}
