<div class="form-wrapper" *ngIf="form">
    <div class="forget-password-form">
        <h3>Obnovení hesla</h3>

        <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">

            <section [formGroup]="form.get('passwords')">

                <nz-form-item>
                    <nz-form-control [nzErrorTip]="errorTpl">
                        <nz-input-group>
                            <input type="password" nz-input formControlName="password" placeholder="heslo" />
                        </nz-input-group>
                    </nz-form-control>

                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Prosím zadejte heslo
                        </ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">
                            Heslo musí mít alespoň 6 znaků
                        </ng-container>
                    </ng-template>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzErrorTip]="errorPasswordMatch">
                        <nz-input-group>
                            <input type="password" nz-input formControlName="passwordConfirm"
                                placeholder="heslo znovu" />
                        </nz-input-group>
                    </nz-form-control>

                    <ng-template #errorPasswordMatch let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Prosím opakujte heslo
                        </ng-container>
                        <ng-container *ngIf="control.hasError('passwordMatch')">
                            Hesla se neshodují
                        </ng-container>
                    </ng-template>
                </nz-form-item>

            </section>

            <button nz-button class="registration-form-button registration-form-margin" [nzType]="'primary'"
                [nzLoading]="processing" type="submit">Obnovit heslo
            </button>

        </form>


    </div>

</div>