<!-- <nz-table #basicTable [nzData]="subjects" [nzLoading]="dataLoading">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Katedra / fakulta </th>
            <th>Uživatel</th>
            <th>Vytvořeno</th>
            <th>Acke</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" (click) = "onRowClick(data)">
            <td>{{ data.name }}</td>
            <td>{{ data.katedraFakulta }}</td>
            <td>{{ data.ucitelName }}</td>
            <td>{{ data.dateIn | date: 'd.mm.yyyy' }}</td>
            <td>{{ data.dateIn | date: 'd.mm.yyyy' }}</td>
        </tr>
    </tbody>
</nz-table> -->